@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 98%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 205 97% 54%;
    --primary-foreground: 240 5.9% 10%;
    --primary-variant: 200 74% 86%;

    --secondary: 36 100% 63%;
    --secondary-foreground: 240 5.9% 10%;
    --secondary-variant: 43, 75%, 86%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 33 10% 17%;
    --foreground: 0 0% 98%;

    --card: #f8f5f1;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 58 100% 60%;
    --primary-foreground: 240 5.9% 10%;
    --primary-variant: 58 72% 66%;

    --secondary: 222 87% 69%;
    --secondary-foreground: 240 5.9% 10%;
    --secondary-variant: 222 61% 71%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .weird-circle {
    border-top-left-radius: 66% 76%;
    border-top-right-radius: 34% 11%;
    border-bottom-left-radius: 8% 23%;
  }
  .weird-circle2 {
    border-top-left-radius: 66% 76%;
    border-bottom-left-radius: 8% 23%;
  }
  .weird-circle3 {
    border-radius: 50% 50% 8% 8% / 58% 58% 42% 42%;
  }

  .navbar-gradient {
    background: linear-gradient(180deg, #feffc993 19%, #c5e1f598 100%);
  }
  .dark .navbar-gradient {
    background: linear-gradient(180deg, #f8f5f1a8 20%, #89a4e2bd 100%);
  }

  #darkmode-toggle {
    width: 0;
    height: 0;
    visibility: hidden;
  }

  #darkmode-toggle-label {
    width: 100px;
    height: 40px;
    position: relative;
    display: block;
    background: linear-gradient(180deg, #feffc993 19%, #c5e1f598 100%);
    border-radius: 200px;
    box-shadow:
      inset 0px 5px 15px rgba(0, 0, 0, 0.205),
      inset 0px -5px 15px rgba(255, 255, 255, 0.082);
    cursor: pointer;
  }
  #darkmode-toggle-label:after {
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    top: 5px;
    right: 10px;
    background: #199dfc;
    border-radius: 180px;
    box-shadow:
      inset 0px 5px 15px rgba(0, 0, 0, 0.205),
      inset 0px -5px 15px rgba(255, 255, 255, 0.082);
  }

  #darkmode-toggle:checked + #darkmode-toggle-label {
    background: linear-gradient(180deg, #f8f5f1a8 20%, #89a4e2bd 100%);
  }
  #darkmode-toggle:checked + #darkmode-toggle-label:after {
    left: 6px;
    transform: translateX(5%);
    background: #6c96f5;
  }

  #darkmode-toggle-label:active:after {
    width: 80px;
  }

  #darkmode-toggle-label,
  #darkmode-toggle-label:after {
    transition: 0.3s;
  }

  #darkmode-toggle-label svg {
    position: absolute;
    width: 50px;
    top: 10px;
    z-index: 100;
  }
  #darkmode-toggle-label svg.sun {
    left: 50px;
    transition: 0.3s;
  }
  #darkmode-toggle-label svg.moon {
    left: -1px;
    transition: 0.3s;
    visibility: hidden;
  }
  #darkmode-toggle:checked + #darkmode-toggle-label svg.sun {
    visibility: hidden;
  }
  #darkmode-toggle:checked + #darkmode-toggle-label svg.moon {
    visibility: visible;
  }
}
